aliyun-python-sdk-core==2.13.36
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.2
daphne==3.0.2
Deprecated==1.2.13
Django==4.0.3
django-comment-migrate==0.1.5
django-cors-headers==3.11.0
django-filter==21.1
django-ranged-response==0.2.0
django-redis==5.2.0
django-simple-captcha==0.5.17
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-yasg==1.20.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.1
jmespath==0.10.0
jpush==3.3.9
MarkupSafe==2.1.1
packaging==21.3
Pillow==9.1.0
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.14.1
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-alipay-sdk==1.8.0
pytz==2022.1
redis==4.2.1
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.2.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typing_extensions==4.1.1
tzdata==2022.1
ua-parser==0.10.0
uritemplate==4.1.1
urllib3==1.26.9
user-agents==2.2.0
wrapt==1.14.0
xlrd==2.0.1
xlwt==1.3.0
zope.interface==5.4.0
